body{
    background-color:#B9F3FC ;
}
hr{
    border-style:none;
    border-top-style: dotted ;
    border-color: grey ;
    border-width: 6px;
    width: 30%;
}
img{
    height: 10cm;
}
h1,h3{
    color: aqua;
 
}
h2{
    font-style: italic;
}
img{
    background-color: rgb(7, 7, 218);
}
.circular{
    border-radius: 100%;
}
a:link {
    color: #FF0000;
  }
  

  a:visited {
    color: #00FF00;
  }
  

  a:hover {
    color: #FF00FF;
    font-size: 25px;
  }
  

  a:active {
    color: #0000FF;
  }
  